body {
  background-color: #a83246;
  color: black;
  margin-top: -40px;
  text-align: center;
}

.heading {
  font-family: 'Lobster', cursive;
  font-size: 90px;
}

.time {
  margin-top: 20px;
  font-size: 120px;
}

.completion-text {
  font-family: 'Work Sans', sans-serif;
  font-size: 50px;
}

footer {
  font-family: 'Work Sans', sans-serif;
  font-size: 12px;
  font-weight: bolder;
  position: fixed;
  bottom: 0px;
  width: 100%;
  color: black;
  text-align: center;
}

button {
  margin-top: 0px;
  background-color: white;
  border-radius:5px;
  border: 2px solid black;
  cursor:pointer;
  color: black;
  font-family: "Courier New";
  font-weight: bolder;
  font-size:15px;
  padding:7px 30px;
}